{%extends 'base.html'%}

{%block content%}
<div class="row">
    <div>
        <div class="col-sm-6 col-sm-offset-3 pemberitahuan">
            <h4>Pendaftaran anda berhasil<br>
                kami akan segera mengirimkan pemberitahuan melalui e-mail yang anda gunakan untuk mendaftar setelah formulir pendaftaran anda kami validasi<br>
                Silahkan cek e-mail anda secara berkala
            </h4>
        </div>
    </div>
</div>
    <!-- <div class="row" style="min-height:400px">
        <div class="col-sm-6 col-sm-offset-3" style="margin-top:100px; padding:50px; border:0.5px solid gray; border-radius:5px;">
            <h4 style="color:black;">Pendaftaran anda berhasil<br>
                kami akan segera mengirimkan pemberitahuan melalui e-mail yang anda gunakan untuk mendaftar setelah formulir pendaftaran anda kami validasi<br>
                Silahkan cek e-mail anda secara berkala
            </h4>
        </div>
    </div> -->
{%endblock%}